Курсовик

Работа выполняется по желанию. Данные с kaggle.com


EDA (рассчитать описательные статистики+ графический анализ с выводами)

In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('D:/обучение/data set/World Cities Database Population (OCT-2022).csv', sep = ';', na_filter=False )
df.head(5)

C:\Users\Enns\AppData\Local\Temp\ipykernel_15912\2423456789.py:1: DtypeWarning: Columns (0,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:/обучение/data set/World Cities Database Population (OCT-2022).csv', sep = ';', na_filter=False )

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,"Coordinates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
0,509184,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",P,PPL,RU,Russian Federation,,33,,,,3900,,122,Europe/Kirov,2012-01-17,Russian Federation,"57.46042,48.542,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
1,509273,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",P,PPL,RU,Russian Federation,,62,,,,2355,,120,Europe/Moscow,2012-01-17,Russian Federation,"54.57768,41.81448,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
2,510139,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",P,PPL,RU,Russian Federation,,66,,,,1308,,17,Europe/Moscow,2016-12-20,Russian Federation,"59.80222,30.50694,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
3,513051,Palkino,Palkino,"Palkino,Палкино,Պալկինո",P,PPL,RU,Russian Federation,,60,,,,3112,,67,Europe/Moscow,2012-01-17,Russian Federation,"57.54089,28.01257,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
4,514906,Orlovka,Orlovka,"Orlovka,Орловка",P,PPL,RU,Russian Federation,,70,,,,3236,,115,Europe/Moscow,2012-01-17,Russian Federation,"44.69139,44.17444,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."

In [36]:
df.isna().sum()

Geoname ID                                                                                                                                                                                                                                                                                  0
Name                                                                                                                                                                                                                                                                                        0
ASCII Name                                                                                                                                                                                                                                                                                  0
Alternate Names                                                                                                                                                                                                                                                                             0
Feature Class                                                                                                                                                                                                                                                                               0
Feature Code                                                                                                                                                                                                                                                                                0
Country Code                                                                                                                                                                                                                                                                                0
Country name EN                                                                                                                                                                                                                                                                             0
Country Code 2                                                                                                                                                                                                                                                                              0
Admin1 Code                                                                                                                                                                                                                                                                                 0
Admin2 Code                                                                                                                                                                                                                                                                                 0
Admin3 Code                                                                                                                                                                                                                                                                                 0
Admin4 Code                                                                                                                                                                                                                                                                                 0
Population                                                                                                                                                                                                                                                                                  0
Elevation                                                                                                                                                                                                                                                                                   0
DIgital Elevation Model                                                                                                                                                                                                                                                                     0
Timezone                                                                                                                                                                                                                                                                                    0
Modification date                                                                                                                                                                                                                                                                           0
LABEL EN                                                                                                                                                                                                                                                                                    0
Coordinates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,    0
dtype: int64

In [37]:
df.describe ()

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,"Coordinates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
count,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634
unique,140634,123647,122923,113140,3,20,248,231,108,641,14605,35539,17657,44748,1813,6343,397,3726,230,140616
top,509184,San Francisco,San Francisco,,P,PPL,US,United States,,02,,,,0,,8,Europe/Rome,2017-05-23,United States,"47.11667,27.18333,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
freq,1,44,44,24391,140632,76841,16735,16735,136430,6093,21327,72281,120094,9220,113010,707,9947,7829,16735,2

In [38]:
# преобразовываем столбец координат
column_names = list(df.columns)
column_names[-1] = 'Coordinates'
df.columns = column_names
df['Coordinates'] = df['Coordinates'].apply(lambda x: str(x).split(',')[:2])
df['Coordinates']

0           [57.46042, 48.542]
1         [54.57768, 41.81448]
2         [59.80222, 30.50694]
3         [57.54089, 28.01257]
4         [44.69139, 44.17444]
                  ...
140629    [45.72176, 33.23689]
140630    [48.14431, 30.82103]
140631    [44.93845, 35.15834]
140632    [51.50208, 23.93806]
140633    [46.30452, 29.01519]
Name: Coordinates, Length: 140634, dtype: object

In [39]:
df['Latitude'] = df['Coordinates'].apply(lambda x: x[0])
df['Longitude'] = df['Coordinates'].apply(lambda x: x[-1])

In [40]:
# приобразовываем столбцы в числовые
df['Latitude'] = pd.to_numeric(df['Latitude'], errors='coerce')
df['Longitude'] = pd.to_numeric(df['Longitude'], errors='coerce')

In [41]:
#Namibia имеет код страны NA, который совпадает с NaN.заменить значения NaN на строку 
df['Country Code'] = df['Country Code'].fillna('NA')

In [42]:
# преобразовывыем столбцы населения и высоты в числовые значения.
df['Population'] = df['Population'].apply(lambda x: pd.to_numeric(x, errors = 'coerce'))
df['Elevation'] = df['Elevation'].apply(lambda x: pd.to_numeric(x,  errors = 'coerce'))

In [43]:
# удаляем лишнии стодлбцы,которые нам не понадабятся
df = df.iloc[:,[1,2,3,6,7,-9,-8,-6,-4,-2,-1]]

In [44]:
df.isna().sum()

Name                    0
ASCII Name              0
Alternate Names         0
Country Code            0
Country name EN         0
Population              1
Elevation          113012
Timezone                0
LABEL EN                0
Latitude                2
Longitude               2
dtype: int64

In [45]:
#  в столбце Elevation много пропущенных значений, можно его удалить
df = df.drop('Elevation', axis = 1)

In [47]:
# удаляем строки с пропущенными значениями
df = df.dropna()

In [49]:
df.to_csv('population-cleaned.csv', sep = ',', index = False) # записываем

In [48]:
df.head(5)

,Name,ASCII Name,Alternate Names,Country Code,Country name EN,Population,Timezone,LABEL EN,Latitude,Longitude
0,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",RU,Russian Federation,3900.0,Europe/Kirov,Russian Federation,57.46042,48.54200
1,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",RU,Russian Federation,2355.0,Europe/Moscow,Russian Federation,54.57768,41.81448
2,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",RU,Russian Federation,1308.0,Europe/Moscow,Russian Federation,59.80222,30.50694
3,Palkino,Palkino,"Palkino,Палкино,Պալկինո",RU,Russian Federation,3112.0,Europe/Moscow,Russian Federation,57.54089,28.01257
4,Orlovka,Orlovka,"Orlovka,Орловка",RU,Russian Federation,3236.0,Europe/Moscow,Russian Federation,44.69139,44.17444